name: Next.js CI

on:
  push:
    branches: ["master", "ci-fix"]
  pull_request:
    branches: ["master", "ci-fix"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Run lint
        run: npm run lint
        continue-on-error: false

      - name: Build
        run: npm run build

      - name: Tests
        run: npm test
